* {
    margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Estilos del Header*/

.boton-menu {
    border: none;
    background-color: transparent;
    color: transparent !important;
    font-size: 23px;


}

.navbar {
    background-color: #1e6091 !important;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    transition: 0.3s;
    z-index: 1000 !important;

}

.nav-item:hover {
    background-color: #f0efeb;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgb(210, 205, 238);

}

.offcanvas-start {
    width: 20rem !important;
    background-color: #fefee3 !important;
}


.offcanvas-start {
    transition: 0.5s !important;
}
/*Fin de los estilos del boton y todo lo relacionado*/

 .logo {
      height: 45px;
      margin-left: auto;
    }

    .icon-menu {
      margin-left: 5px;
      color: #333;
    }

    .btn-dashboard {
      height: 100px;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

    .btn-dashboard:hover{
        background-color: #edede9;
    }
    