* {
    box-sizing: border-box;

}

hr {
    color: #160468;
}

body {
    background-image: url(../IMG/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.contenedor {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20em;

}




.form-control {
    width: 20em;
    transition: 0.5s;
    border: #374e9f solid 1px;

}

.form-control:focus {

    box-shadow: 0px 0px 4px #374e9f;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Validacion {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 0 60px 0 60px;
    padding: 1em;
    backdrop-filter: blur(4px);
    color: aliceblue;
    height: 25em;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-floating {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 2px;
    text-align: center;
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 1px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.has-validation {
    width: 30em;
    background: none !important;
}

.footer-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn-primary {
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #1d3e91;
    transition: 0.3s;
    margin-top: 1em;
    width: 15em;
    border: none !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic;
}

.btn-primary:hover {
    background-color: #1a51db;
    font-weight: bold;

}



input {
    background: none !important;
    border: none !important;
    border-bottom: #ffffff solid 1px !important;
}


input:focus {
    background: none !important;
    border: #ffffff solid 1px !important;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic !important;

}



label {
    margin-left: 5em;
    transition: 01s !important;
    color: #ffffff !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}