* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../IMG/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}


.container {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 60px 0 60px;
    padding: 1em;
    width: 34%;
    height: auto;
    backdrop-filter: blur(4px);
    color: aliceblue;


}


.contenedor {
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
    margin-bottom: 1px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


input::placeholder {
  color: rgb(255, 255, 255) !important;
}


input {
    width: 80% !important;
    background: none !important;
    margin: 20px 0  30px 40px;
    border-radius: 1em !important;
    border: none !important;
    border-bottom: 2px solid #f8f8f8 !important;
    transition: 1s !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus {
    box-shadow: 0 2px 8px #0e4cd1 !important;
    border: 1px solid #ccc !important;

}

button {
    background-color: #1d3e91 !important;
    padding: 0.5em;
    margin-bottom: 1px;
    width: 90%;
    border-radius: 5em !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 2px 4px #ccc;
    transition: 1s !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

button:hover {
    background-color: #1a51db !important;

}